@* Define in lowerCase *@
@model Student

@{
    ViewData["Title"] = "student information";
    Layout = "_Simple";
    ViewBag.Date = System.DateTime.Now;
}

<h1>@ViewData["Title"]</h1>
<p><i>@ViewBag.Date</i></p>

<strong>View in index file</strong>
<p>
    Area: @Model.Name <br/>
    @Model.UniqueId
</p>

<strong>View in SimpleArea file</strong>
<partial name="SimpleSchoolBase" />