@* Define in lowerCase *@
@model IEnumerable<Student>

@{
    ViewData["Title"] = "students information";
    Layout = "_Simple";
    ViewBag.Date = System.DateTime.Now;
}

<h1>@ViewData["Title"]</h1>
<p><i>@ViewBag.Date</i></p>

<partial name="TableSchoolBase" />
