@* Define in lowerCase *@
@model Area

@{
    ViewData["Title"] = "area information";
    Layout = "_Simple";
    ViewBag.Date = System.DateTime.Now;
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewBag?.Message</h2>
<p><i>@ViewBag.Date</i></p>

<strong>View in index file</strong>
<p>
    Area: @Model.Name <br/>
    @Model.Id
</p>

<strong>View in SimpleArea file</strong>
<partial name="SimpleSchoolBase" />