@* Define in lowerCase *@
@model List<Area>

@{
    ViewData["Title"] = "area information";
    Layout = "_Simple";
    ViewBag.Date = System.DateTime.Now;
}

<h1>@ViewData["Title"]</h1>
<p><i>@ViewBag.Date</i></p>

@foreach (var area in Model)
{
    <partial name="SimpleArea" model="area"/>
}